@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Inclui bordas no cálculo de dimensões */
    font-family: 'Playfair Display', sans-serif;
}

body {
    background-image: url('../imagens/fundo_cadastro.png'); /* Caminho relativo */
}


header {
    background-color: #910910;
    box-shadow: 0px 3px 10px rgba(145, 9, 16, 0.7);
    height: 80px;
}


.nav-bar-principal {
    display: flex;
    position: relative;
    justify-content: space-between; /* Distribui os elementos entre esquerda e direita */
    align-items: center;
    padding: 1.5rem 4rem; /* Reduzi o padding para evitar que os ícones fiquem fora da tela */
    flex-wrap: wrap; /* Garante que os itens se ajustem conforme o tamanho da tela */
}

/* Menu lateral */
.nav-list-menu {
    display: none;
    position: absolute;
    top: 5rem; /* Distância do topo */
    right: 0; /* Alinha o menu à direita */
    background-color: #910910;
    color: #F9F7EF;
    align-items: flex-start; /* Alinha os itens à esquerda dentro do menu */
    transition: right 0.3s ease; /* Animação suave ao abrir/fechar */
    z-index: 10000;
    padding: 1rem;
    width: 100%; /* A largura será ajustada toda */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
}

/* Menu visível */
.nav-list-menu.active {
    display: flex; /* Quando ativo, o menu se torna visível */
    right: 0; /* Quando ativo, o menu entra da direita */
}

/* Ajuste no botão de menu */
.nav-list-icone-menu {
    display: flex;
    justify-content: flex-end; /* Alinha o ícone à direita */
    position: relative; /* Necessário para posicionar o filtro em relação ao login */
    top: -0.5rem;
    left:-4rem; /* Alinha o menu a partir da borda esquerda da tela */
    cursor: pointer;
    z-index: 1000;
}

/* Links dentro do menu */
.nav-list-menu a {
    display: flex;
    width: auto; /* Não ocupa a largura inteira */
    padding: 0.5rem;
    text-decoration: none;
    color: #E8D1A3;
    transition: background 0.3s ease;
    justify-content: flex-start; /* Garante que o texto esteja à esquerda */
}

.nav-list-menu .nav-item {
    padding-top: 0.5rem;
}

/* Adicionando espaçamento entre os itens do menu */
.nav-list-menu ul {
    display: flex;
    justify-content: center; /* Centraliza os itens no menu */
    flex-wrap: wrap; /* Permite que os itens quebrem para novas linhas se necessário */
    max-width: 100%; /* Garante que o menu não ultrapasse os limites da tela */
    flex-direction: column;
    align-items: flex-start;
}




.nav-list-menu .nav-item {
    padding-top: 0.5rem;
}



/* Ajuste nos itens dentro do menu */
.nav-item {
    margin-bottom: 1rem; /* Espaçamento entre os itens */
    margin: 0 2rem;
}




.nav-list-sino {
    display: flex; /* Alinha os ícones horizontalmente */
    justify-content: flex-end; /* Login à direita */
    flex-wrap: wrap; /* Garante ajuste para telas menores */
    position: absolute;
    top: 0.9rem;
    right: 7rem;
    z-index: 100; /* Ajuste o valor conforme necessário */
}


.nav-list-login {
    display: flex; /* Alinha os ícones horizontalmente */
    flex: 1; /* Permite que esses elementos ocupem espaço proporcional */
    justify-content: flex-end; /* Login à direita */
    flex-wrap: wrap; /* Garante ajuste para telas menores */
    position: relative; /* Necessário para posicionar o filtro em relação ao login */
    top: -5.5rem;
}


.nav-list-menu ul,
.nav-list-logo ul,
.nav-list-sino ul,
.nav-list-login ul,
.nav-list-icone-menu ul,
.nav-list-filtro ul {
    display: flex;
    list-style: none; /* Remove marcadores da lista */
    margin: 0;
    padding: 0;
}




.nav-list-logo {
    display: flex;
    justify-content: center;
    position: absolute; /* Centraliza no container pai */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para o meio */
    top: 1rem;
}


.nav-list-filtro {
    display: flex;
    justify-content: flex-end; /* Alinha o filtro à direita */
    align-items: center;
    padding: 0rem 2rem; /* Ajuste para melhor centralização */
    top: -4rem;
    position: relative;
    margin-left: auto; /* Empurra o elemento para a direita */
    
}



.nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    color: #E8D1A3;
    font-weight: 100;
    letter-spacing: 0.05em; /* Adiciona espaçamento entre as letras */
    margin: 0rem;
    display: flex; /* Alinha a imagem e o texto lado a lado */
    align-items: center; /* Alinha o texto e a imagem verticalmente */
}

.nav-link img {
    max-width: 50px;
    width: auto;
    height: auto;
    transition: transform 0.3s ease; /* Efeito visual ao interagir */
    margin-right: 0.5rem; /* Adiciona espaçamento à direita da imagem */
}

.nav-link img:hover {
    transform: scale(1.1); /* Efeito de leve aumento no hover */
}


.nav-link-sino img {
    max-width: 48px;
    width: auto;
    height: auto;
    transition: transform 0.3s ease; /* Efeito visual ao interagir */
}

.nav-link-sino img:hover {
    transform: scale(1.1); /* Efeito de leve aumento no hover */
}

.nav-link-login img {
    max-width: 55px;
    width: auto;
    height: auto;
    transition: transform 0.3s ease; /* Efeito visual ao interagir */
}

.nav-link-login img:hover {
    transform: scale(1.1); /* Efeito de leve aumento no hover */
}


.nav-link-filtro img {
    max-width: 60px;
    width: auto;
    height: auto;
    transition: transform 0.3s ease; /* Efeito visual ao interagir */
}

.nav-link-filtro img:hover {
    transform: scale(1.1); /* Efeito de leve aumento no hover */
}


.nav-link-casa {
    text-decoration: none;
    font-size: 1rem;
    color: #E8D1A3;
    font-weight: 100;
    letter-spacing: 0.05em; /* Adiciona espaçamento entre as letras */
    margin: 0rem;
    display: flex; /* Alinha a imagem e o texto lado a lado */
    align-items: center; /* Alinha o texto e a imagem verticalmente */
    gap: 0.5rem; /* Espaçamento entre a imagem e o texto */
}

.nav-link-casa img {
    max-width: 59px;
    width: auto;
    height: auto;
    transition: transform 0.3s ease; /* Efeito visual ao interagir */
}

.nav-link-casa img:hover {
    transform: scale(1.1); /* Efeito de leve aumento no hover */
}

.nav-link-sair {
    text-decoration: none;
    font-size: 1rem;
    color: #E8D1A3;
    font-weight: 100;
    letter-spacing: 0.05em; /* Adiciona espaçamento entre as letras */
    margin: 0rem;
    display: flex; /* Alinha a imagem e o texto lado a lado */
    align-items: center; /* Alinha o texto e a imagem verticalmente */
    gap: 0.5rem; /* Espaçamento entre a imagem e o texto */
}

.nav-link-sair img {
    max-width: 48px;
    width: auto;
    height: auto;
    transition: transform 0.3s ease; /* Efeito visual ao interagir */
}

.nav-link-sair img:hover {
    transform: scale(1.1); /* Efeito de leve aumento no hover */
}




.nav-link-text-narraverso img {
    max-width: 220px;
    height: auto;
}




.center {
    text-align: center;
    margin-top: 5rem;
}




/*parte do login e cadastro de pessoa*/


.aVoltar {
    color: #F9F7EF;
    text-align: center;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado padrão */
    display: block; /* Faz o link se comportar como um bloco */
    margin: 0 auto; /* Centraliza o link horizontalmente */
    width: max-content; /* Ajusta o link ao conteúdo */
}

.aVoltar:hover {
    text-decoration: underline; /* Adiciona sublinhado quando o link for hover */
}


.google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.google-button button {
    display: flex; /* adicionado */
    align-items: center; /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    gap: 8px; /* espaço entre o logo e o texto */
    border: none;
    padding: 0.5rem 0.8rem;
    background-color: #ffffff; 
    border: 1px solid #F9F7EF;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 0rem auto;
    margin-top: 0.4rem;
    margin-bottom: -0.6rem;
    transition: transform ease 0.3s;
}


.google-button img {
    display: relative;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: none;
    object-fit: cover;
    margin: 0 auto; 
}

.login-button button {
    border:  none;
    background-color: #818D14;
    padding: 0.5rem 0.8rem; /* Espaçamento interno do botão */
    border: 1px solid #F9F7EF;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 0.5rem; /* Adiciona espaçamento ao redor do botão */
    transition: transform ease 0.3s;
    text-decoration: none;
    color: #F9F7EF;
    font-weight: 500;
    font-size: 1.1rem;
}

.login-button {
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap; /* Permite que os botões se ajustem em múltiplas linhas, se necessário */
}

.login-button button:hover {
    transform: scale(1.1); /* Efeito de leve aumento no hover */
}



.login-button input {
    border:  none;
    background-color: #818D14;
    padding: 0.5rem 0.8rem; /* Espaçamento interno do botão */
    border: 1px solid #F9F7EF;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 0.5rem; /* Adiciona espaçamento ao redor do botão */
    transition: transform ease 0.3s;
    text-decoration: none;
    color: #F9F7EF;
    font-weight: 500;
    font-size: 1.1rem;
}

.login-button input:hover {
    transform: scale(1.1); /* Efeito de leve aumento no hover */
}

.logar-cad {
    display: none;
}

.logar-cad.open {
    display: block;
}

.logar-cad {
    background-color: #910910;
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para o centro */
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    color: #F9F7EF;
    z-index: 10; /* Garante que fique sobre outros elementos */
}


.logar-cad ul{
    padding-bottom: 1rem;
}

.logar-cad .nav-item {
    display: block;
    padding-top: 1.2;
}

.logar-cad .texto-logar-cad {
    display: block;
    text-align: center; /* Centraliza o texto */
    padding: 1.5rem; /* Adiciona espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento inferior */
}

.logar-cad .login-button {
    display: block;
    padding: 1rem 2rem;
}


.logar {
    display: none;
    background-color: #910910;
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para o centro */
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    color: #F9F7EF;
    z-index: 10; /* Garante que fique sobre outros elementos */
}


.logar h3{
    margin-bottom: 0.5rem; /* Espaçamento entre os textos */
    text-align: center; /* Centraliza os textos */
}

.logar h5 {
    margin-bottom: 0.5rem; /* Espaçamento entre os textos */
}

.logar input[type="text"],
.logar input[type="password"] {
    margin-bottom: 1rem; /* Espaçamento inferior */
    padding: 0.5rem; /* Espaçamento interno */
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    width: 100%; /* Faz o input ocupar toda a largura do container */
    max-width: 300px; /* Limita a largura máxima */
}


.senha-container {
    position: relative;
    display: flex; 
    align-items: center; /*centraliza elementos*/
    width: 100%;
    max-width: 300px;
}

.senha-container input[type="password"],
.senha-container input[type="text"]{
    padding: 0.5rem 2.5rem 0.5rem 0.8rem; /* espaço à direita para o olho */
    margin-bottom: 1rem; /* Espaçamento inferior */
    padding: 0.5rem; /* Espaçamento interno */
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    width: 100%; /* Faz o input ocupar toda a largura do container */
    max-width: 300px; /* Limita a largura máxima */

}

.olho-span {
    position: absolute;
    right: -0.2rem;
    border-radius: 60%;
    cursor: pointer;
    display: flex;
    align-items: center;
    top:-9%;
    border: none;

}

.olho-mostra {
    width: 22px;
    height: 22px;
    opacity: 0.6;/*transparência*/
    transition: opacity 0.2s ease; /*transição de transparÊncia*/
}

.olho-mostra:hover {
    opacity: 1;
}


.esqueciSenha {
    display: none;
    background-color: #910910;
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para o centro */
    align-items: center;
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    color: #F9F7EF;
    z-index: 10; /* Garante que fique sobre outros elementos */
}


.esqueciSenha h3{
    margin-bottom: 0.5rem; /* Espaçamento entre os textos */
    text-align: center; /* Centraliza os textos */
}

.esqueciSenha h5 {
    margin-bottom: 0.5rem; /* Espaçamento entre os textos */
}

.esqueciSenha input[type="text"] {
    margin-bottom: 1rem; /* Espaçamento inferior */
    padding: 0.5rem; /* Espaçamento interno */
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    width: 250px; /* comprimento input*/
    max-width: 300px; /* Limita a largura máxima */
}



.cadastrar-container {
    display: flex;
    overflow: hidden;
    gap: 2rem; /* espaçamento entre os elementos */
    padding: 20px;
    max-width: 70%;
    overflow-x: hidden; /* impede scroll lateral */
    margin: 1rem auto;
    padding: 10rem;
    background: #f9f7ef;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 29rem; 
    align-items: flex-start;
    overflow-y: auto;
    direction: column;
    justify-content: center;
    margin-top: -2.5rem;
}


.perfil-container {
    display: flex;
    gap: 0rem;
}

.perfil-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 1.5rem;
}

.fotoPerfil-input {
    display: none;
}

.fotoPerfil {
    display: flex;

}

.fotoPerfil-image {
    display: flex;
    border: 2px dashed #910910;
    padding: 6px;
    border-radius: 50%;
    width: 230px;
    height: 240px;
    text-align: center;
    position: relative;
}

.fotoPerfil-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.edit-button {
    display: block;
    border: none;
    background-color: #818D14;
    padding: 0.5rem 0.8rem; /* Espaçamento interno do botão */
    border: 2px solid #910910;
    border-radius: 0.5rem; /* Deixa o botão arredondado */
    cursor: pointer;
    transition: transform ease 0.3s;
    text-decoration: none;
    color: #F9F7EF;
    font-weight: 500;
    font-size: 1rem;
    /* Centralização adicional, se necessário */
    text-align: center;
    margin-top: 1rem;
}

.edit-button button:hover {
    transform: scale(1.1); /* Efeito de leve aumento no hover */
}


.edit-button-two {
    display: none;
    border: none;
    background-color: #818D14;
    padding: 0.5rem 0.8rem; /* Espaçamento interno do botão */
    border: 2px solid #910910;
    border-radius: 0.5rem; /* Deixa o botão arredondado */
    cursor: pointer;
    transition: transform ease 0.3s;
    text-decoration: none;
    color: #F9F7EF;
    font-weight: 500;
    font-size: 1rem;
    /* Centralização adicional, se necessário */
    text-align: center;
    margin-top: 1rem;
}

.edit-button-two button:hover {
    transform: scale(1.1); /* Efeito de leve aumento no hover */
}

.obras-informacao{
    display: flex;
    align-items: flex-start;
    gap: 6rem;
}

.nav-informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -8rem;
}

.nav-list-informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav-list-usuario {
    font-size: 1.9rem;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
    right: 6rem;
    position: relative;
    font-weight: bold;
}

.nav-list-dados {
    display: flex;
    gap: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    margin-bottom: 0.8rem;
    margin-top: 0.6rem;
    left: -1rem;
    position: relative;
    text-align: center;
    cursor: pointer;
    text-decoration: none; /* Remove o sublinhado padrão */
}

.nav-list-dados a {
    text-decoration: none; /* Remove o sublinhado padrão */
    color: inherit; /*herda a cor do pai*/ 
    transform: scale(1.1);
    transition: transform ease 0.3s;
}


.nav-list-descricao {
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
    right: 5rem;
    position: relative;
}


.icone-container{
    display: flex;
    width: 100%;
    gap: 13rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    position: relative;
}

.icone-container img {
    width: 30px;
    height: 30px;
    object-fit: cover; /*para não perder a qualidade da imagem*/
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icone-container img:hover {
  transform: scale(1.2); /* efeito de zoom no hover */
}




/*------------------Obras------------------------------------*/
.container-principal-perfil{
    display: grid;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: -2rem;
    padding: 2rem 2rem;
    overflow-y: auto; /*para ir para baixo caso necessário*/
    justify-content: center;
    text-align: center;
    position: relative;

}

.obras-perfil{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 1rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    gap: 1.7rem; /* Espaço entre as obras */
    list-style: none;
}

.obras-perfil li{
    color: inherit; /*herda a cor do texto pai*/
    text-decoration: none; /*tira sublinhado*/
}

.obras {
    display: flex;
    flex-direction: column;
    margin-top: 0; 
    text-align: center;
    cursor: pointer;
}

/*Resultado do conteúdo pesquisada*/
.obras-image{
    display: flex;
    flex-direction: column; 
    border: 2px dashed #910910;
    padding: 5px;
    border-radius: 10%;
    width: 240px;
    height: 330px;
    text-align: center;
    position: relative;
}

.obras-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /*para não perder a qualidade da imagem*/
    border-radius: 10%; 
    transition: transform 0.3s ease;
}

.obras-image img:hover {
    transform: scale(1.2);
}


.tres-pontos {
    position: absolute; /* Faz com que ela se posicione em relação a .obras-image */
    top: 15px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
    background: transparent;
}

.tres-pontos img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.tres-pontos img:hover {
    transform: scale(1.3);
}


.conteudo-nome {
    font-size: 15px;
}



.container-delete {
    display: none;
    width: 5rem;
    height: 3rem;
    padding: 1rem;
    position: absolute;
    top: 10rem; 
    margin-left: 7rem;
    z-index: 1;
    background: #DDE3CD;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden; /* Torna invisível para interações */
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.container-delete button {
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.container-delete.open {
    visibility: visible; /* Permite interação */
    transition: opacity 0.3s ease, visibility 0s 0s; /* A transição de opacidade é suave */
}

.delete-chat{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    text-decoration: underline;
    font-size: 11px;
    color: #910910;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-chat:hover {
    color: #818D14;
}


/*seguidores e seguindo*/
/*site quem somos*/
.form-seguidor {
    width: 100%;
}


.container-pesquisa {
    display: flex; /* Usa flexbox para alinhar imagem e texto */
    justify-content: flex-start; /* Alinha conteúdo à esquerda */
    max-width: 40rem;
    height: 4rem;
    margin: 1rem auto;
    margin-top: 1.5rem;
    padding: 0 1rem;
    background: #f9f7ef;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.pesquisa-imagem {
    display: flex;
    margin-top: 0.2rem;
}

.pesquisa-imagem img {
    height: 55px;
    width: auto;
    transition: transform 0.3s ease; /* Efeito visual ao interagir */
}

.barra-pesquisa {
    flex: 1;
    font-size: 1rem; 
    border: none;
    background: transparent;
    outline: none; /*Quando clico e aparece uma borda que cliquei*/
    color: #333;
    padding: 1rem;
    max-width: 50rem;
    z-index: 1000; /*mais alto que todos*/
}


/* Fundo acinzentado semi-transparente */
    .seguidores-overlay {
        display: none; /* Escondido por padrão */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; /* Ocupa toda a tela */
        background: rgba(0, 0, 0, 0.6); /* Fundo escuro semi-transparente */
        backdrop-filter: blur(5px); /* Efeito de desfoque */
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Garante que o filtro fique na frente de tudo */
    }

    /* Classe que será ativada ao clicar no botão */
    .seguidores-overlay-open {
        display: flex !important; /* Garante que fique visível */
    }


    .fechar-seguidores {
        display: flex;
        text-align: center;
        cursor: pointer;
        text-decoration: none; /* Remove o sublinhado padrão */
        margin: 0 auto; /* Centraliza o link horizontalmente */
        width: max-content; /* Ajusta o link ao conteúdo */
        margin-bottom: 1rem; 
        margin-top: auto; /*Faz com que voltar fique lá embaixo*/
    }

    .fechar-seguidores:hover {
        text-decoration: underline; /* Adiciona sublinhado quando o link for hover */
    }



    .container-principal-seguidores{
        display: flex;
        width: 65%;
        height: 70vh;
        margin: 0 auto;
        padding: 1rem 2rem;
        background: #F9F7EF;
        clip-path: inset(0 round 13px); /* Mantém o border-radius mesmo com scroll */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        overflow-y: auto; /*para ir para baixo caso necessário*/
        justify-content: flex-start;
        text-align: center;
        flex-direction: column;
    }

    .container-seguidores{
        display: grid;
        grid-template-columns: repeat(5, 1fr); /*6 por fileira*/
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        gap: 20px; /* Espaço entre as obras */
        list-style: none;
    }

    .container-seguidores li{
        color: inherit; /*herda a cor do texto pai*/
        text-decoration: none; /*tira sublinhado*/
    }


    .container-seguindo{
        display: grid;
        grid-template-columns: repeat(5, 1fr); /*6 por fileira*/
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        gap: 20px; /* Espaço entre as obras */
        list-style: none;
    }

    .container-seguidores li{
        color: inherit; /*herda a cor do texto pai*/
        text-decoration: none; /*tira sublinhado*/
    }


    .container-visivel {
        display: grid !important; /* força a exibição em grid */
    }



    .pessoas {
        display: flex;
        flex-direction: column;
        margin-top: 0; 
        text-align: center;
        margin-top: 0;
    }


    .pessoas-image{
        display: flex;
        flex-direction: column; 
        border: 2px dashed #910910;
        padding: 5px;
        border-radius: 50%;
        width: 130px;
        height: 130px;;
        text-align: center;
        position: relative;
    }

    .pessoas-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; /*para não perder a qualidade da imagem*/
        border-radius: 50%; 
    }



    .contas-titulo {
        display: none;         /* se usar flex */
        justify-content: center; /* centraliza horizontalmente */
        font-size: 22px;
    }


     .sem-obra{
        display: none;
        align-items: center;
        grid-column: 1 / -1;
    }

    .sem-obra img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .sem_resultado{
        display: none;
        align-items: center;
        grid-column: 1 / -1;
    }

    .sem_resultado img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }




body.dark {
    background-image: url('../imagens/fundo_cadastro_escuro1.png');
}

body.dark .cadastrar-container {

    background: #efebdb;
}



@media (min-width: 1600px) {
    .cadastrar-container {
        width: 80%;
        height: 40rem;
    }

    .fotoPerfil-image {
        width: 270px;
        height: 270px;
    }

    .obras-informacao{        
        gap: 10rem;
    }

    .obras-perfil{
        gap: 2.2rem;
    }

    .nav-list-usuario {
        font-size: 2rem;
        right: 9rem;
    }

    .nav-list-dados {
        gap: 4rem;
        font-size: 1.4rem;
        letter-spacing: 0.05rem;
        margin-bottom: 0.8rem;
        margin-top: 0.5rem;
        left: -3rem;
    }


    .nav-list-descricao {
        font-size: 1.2rem;
        margin-bottom: 0rem;
        margin-top: 2rem;
        right: 8rem;
    }


    .icone-container{
        gap: 14rem;
        margin-top: 1.5rem;
        margin-bottom: 1.2rem;
    }
    
    .icone-container img {
        width: 33px;
        height: 33px;
    }

    .obras-image{
        width: 280px;
        height: 375px;    
    }


    .conteudo-nome {
        font-size: 17px;
    }


    .nav-link-text-narraverso img {
        width: 220px; /* Tamanho mínimo garantido */
    }
}



/* Ajustes de responsividade */
@media (max-width: 730px) {

    .nav-bar-principal {
        padding: 2rem 4rem; /* Ajuste de espaçamento */
        display: flex; /* Certifique-se de que flexbox está aplicado */
         gap: 1rem; /* Espaçamento fixo entre .nav-list-* */
    }


    .nav-list-menu {
        width: 100%; /* Usa a largura total da tela */
        text-align: center;
    }


    .nav-list-menu ul {
        flex-direction: column;
        align-items: flex-start;
    }


    .nav-list-sino {
        top: 1.2rem;
        right: 5rem;
    }

    .nav-list-sino img {
        width: 42px;
    }



    .fotoPerfil-image {
        width: 165px; /* Redução do tamanho da imagem no responsivo */
        height: 165px; /* Redução do tamanho da imagem no responsivo */
    }


    .perfil-container {
        margin-left: 2rem;
        align-items: flex-start;
        margin-top: -20px; /* Subindo o container */
    }

    .reset-button {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .nav-bar-seta-esquerda {
        margin-top: -32px; /* Subindo a seta */
    }

    .nav-item {
        margin: 0 1.5rem; /*altura e esquerda ou direita*/
    }

    .nav-list-sino {
        top: 1.2rem;
        right: 5rem;
    }

    .nav-list-sino img {
        width: 42px;
    }

    .nav-list-left,
    .nav-list-center,
    .nav-list-right {
        flex-direction: flex;
        align-items: center;
        margin: 0.2rem -2.8rem; /*altura e esquerda ou direita*/
    }

   
    .nav-link img {
        width: 40px; /* Tamanho mínimo garantido */
        max-width: 15vw; /* Reduz proporcionalmente à largura da tela */
        height: auto; /* Mantém a proporção */
        transition: width 0.3s ease; /* Suaviza a alteração de tamanho */
    }



    .nav-link-login img {
        width: 50px; /* Tamanho mínimo garantido */
        max-width: 15vw; /* Reduz proporcionalmente à largura da tela */
        height: auto; /* Mantém a proporção */
        transition: width 0.3s ease; /* Suaviza a alteração de tamanho */
    }


    .nav-link-text-narraverso img {
        width: 170px; /* Tamanho mínimo garantido */
        max-width: 60vw;
        height: auto; /* Mantém a proporção */
        transition: width 0.3s ease; /* Suaviza a alteração de tamanho */
        margin-top: 0.5rem;
    }


    
}



@media (max-width: 480px) {
    .cadastrar {
        width: 60%; /* Reduz a largura do container */
        padding: 1rem 1.5rem;
    }


    .cadastrar h2 {
        font-size: 1.1rem; /* Redução do tamanho do texto para telas menores */
    }


    .nav-link-text-narraverso img {
        width: 160px; /* Tamanho mínimo garantido */
    }


    .nav-list-sino {
        top: 1.5rem;
        right: 4.2rem;
    }

    .nav-list-sino img {
        width: 35px;
    }

    .fotoPerfil-image {
        width: 130px; /* Redução do tamanho da imagem no responsivo */
        height: 130px; /* Redução do tamanho da imagem no responsivo */
    }


}


    }

    .fotoPerfil-image {
        width: 130px; /* Redução do tamanho da imagem no responsivo */
        height: 130px; /* Redução do tamanho da imagem no responsivo */
    }


}


